body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.panel-default > .panel-heading {
    background-color: #636363;
}

#fp-nav ul li a span, .fp-slidesNav ul li a span {
    background-color: #009871;
}

.brawl td > div {
    padding: 15px;
}

.brawl img, .team img, .champions img {
    margin: 0 auto;
}

.team .img-responsive {
    max-width: 75%;
}

.tooltip + .btn-block {
    margin-top: 5px;
}

.clickable-row:hover {
    cursor: pointer;
}

.brawl-details {
    border-radius: 6px;
    padding: 6px;
}

.brawl-details > .well {
    margin-bottom: 6px;
}

.brawl-details > .well + .well {
    margin-bottom: 0;
}

.home-1, .home-2, .home-3, .home-4 {
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center;

}

.home-1 {
    background-image: url('../../bundles/app/images/xs_bg_champions.png');
}

.home-2 {
    background-image: url('../../bundles/app/images/xs-bg-ahri.jpg');
}

.home-3 {
    background-image: url('../../bundles/app/images/xs-bg-mordekaiser.jpg');
}

.home-4 {
    background-image: url('../../bundles/app/images/xs-bg-vi.jpg');
}

@media (min-width: 768px) {
    .home-1 {
        background-image: url('../../bundles/app/images/sm_bg_champions.png');
    }

    .home-2 {
        background-image: url('../../bundles/app/images/sm-bg-ahri.jpg');
    }

    .home-3 {
        background-image: url('../../bundles/app/images/sm-bg-mordekaiser.jpg');
    }

    .home-4 {
        background-image: url('../../bundles/app/images/sm-bg-vi.jpg');
    }
}

@media (min-width: 992px) {

    .home-1 {
        background-image: url('../../bundles/app/images/bg_champions.png');
    }

    .home-2 {
        background-image: url('https://lolstatic-a.akamaihd.net/game-info/1.1.9/images/champion/backdrop/bg-ahri.jpg');
    }

    .home-3 {
        background-image: url('https://lolstatic-a.akamaihd.net/game-info/1.1.9/images/champion/backdrop/bg-mordekaiser.jpg');
    }

    .home-4 {
        background-image: url('https://lolstatic-a.akamaihd.net/game-info/1.1.9/images/champion/backdrop/bg-vi.jpg');
    }
}

.home .intro {
    background: rgba(20, 20, 20, 0.85);
}

.table > tbody > tr > td.brawl-row-details {
    padding-top: 0;
}

.table > tbody > tr.brawl-row-champions > td {
    padding-bottom: 4px;
}


.table > tbody > tr > td.brawl-row-details div {
    background-color: dimgrey;
    padding: 3px;
}