<tr>
    <td>
        <div class="{% if row.victor == 'attacker' %}bg-success{% else %}bg-danger{% endif %} img-rounded">
            {% if row.attacker is not null %}
                <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ row.attacker }}.png"
                     class="img-responsive" alt="{{ row.attacker }}">
            {% endif %}
        </div>
    </td>
    <td></td>
    <td>
        <div class="{% if row.victor != 'attacker' %}bg-success{% else %}bg-danger{% endif %} img-rounded">
            {% if row.defender is not null %}
                <img src="http://ddragon.leagueoflegends.com/cdn/6.9.1/img/champion/{{ row.defender }}.png"
                     class="img-responsive" alt="{{ row.defender }}">
            {% endif %}
        </div>
    </td>
</tr>