{% extends 'base.html.twig' %}

{% block container %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <h1>{{ 'cmb.defenses' | trans }}</h1>

                <p>{{ 'cmb.defenses.description' | trans }}</p>
            </div>

            {{ include('AppBundle:Brawl:brawl_list.html.twig', {'pagination':pagination}) }}

        </div>
    </div>
{% endblock %}

{% block body_end %}
    <script type="text/javascript">
        $(document).ready(function () {
            $(".clickable-row").click(function() {
                window.document.location = $(this).data("href");
            });
        });
    </script>
{% endblock body_end %}
